.center {
  text-align: center;
}

* {
  font-size: 105%;
}

h1 {
  text-align: center;
  color: blue;
  margin-top: 100px;
}

#bottomright {
  text-align: center;
  color: darkolivegreen;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 8px;
  right: 16px;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: 
#0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2.color {
  color: yellowgreen	 ;
}